<div class="page-header">
    <h1>Acceuil
    <small>Derniers films ajoutés</small>
    </h1>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="bocks-center">
            <div class="" ng-repeat="movie in viewMovies | orderBy:'-createdAt' ">
                <div class="panel-movie ">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">{{movie.Movie.title}}</h4>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"> {{movie.Movie.createdAt | date:fullDate}}</i></small></p>
                        <div>
                            <a href="#/movie/{{movie.MovieId}}" title="Lien vers le film">
                            <image class="img-responsive hover-shadow" src="http://image.tmdb.org/t/p/w154/{{movie.imdbMovie.poster_path}}" />
                            </a>
                        </div>
                        <div class="col-sm-2" ng-repeat="view in movie.viewMovieAll">
                            <a title="{{view.User.username}}" href="#/user/{{view.User.id}}/historique" title="">
                            <div class="profil hover {{view.User.username}}" ></div>
                            </a>
                        </div>
                    </div>
                    <div class="timeline-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>