<div class="page-header">
    <h1>Films
    <small>{{totalMovies}} films</small>
    </h1>
</div>
<div class="row well">
    <fieldset>
        <legend>Genres
            <div class="pull-right">
                <button ng-click="resetGenres()" class="btn btn-default btn-xs">Reset</button> 
                <button ng-click="selectAllGenres()" class="btn btn-default btn-xs">Select all</button>
            </div>
        </legend>
        <span class="col-xs-3" ng-repeat="genre in genres | orderBy:identity ">
        <label>
            <input type="checkbox" checklist-model="genres.selected" checklist-value="genre" checked="checked">
            {{genre}}
        </label>
        </span>
    </fieldset>
</div>
<div class="all-movies" ng-init="init()">
    <div class="row search">
        <input class="form-control" type="text" ng-model="search.title" placeholder="Recherche">
    </div>
    <div>
        <h3 class="text-center">{{moviesfiltered.length}} résultat<span ng-show="movies.length > 1"></span></h3>
    </div>
    <div class="big-list col-md-3 col-sm-2 list" ng-repeat="movie in moviesfiltered =(movies | filter:filterGenre | filter:search)">
        <div class="box" style="background:url(http://image.tmdb.org/t/p/w154/{{movie.imdbMovie.poster_path}}) no-repeat 50% 50%;">
            <a href="#/movie/{{movie.id}}">
            <div class="overlay">
                <div>
                    <h4 class="title">
                    {{movie.title}}
                    </h4>
                </div>
                <span class="rate">{{movie.notes.moyenne | number:2}}</span>
            </div>
            </a>
        </div>
    </div>
</div>