<div class="animated" ng-swipe-left="goTo('next')" ng-swipe-right="goTo('prev')">
    <h1>{{movie.title}}</h1>
    <div class="row">
        <div class="col-md-5">
            <image  class="img-responsive" src="http://image.tmdb.org/t/p/w342/{{idmbMovie.poster_path}}" />
        </div>
        <section class="col-md-7">
            <p><label>Date de sortie :</label> {{idmbMovie.release_date | date:mediumDate }}</p>
            <p><label>Réalisé par :</label></p>
            <p><label>Genres :</label> <span ng-repeat="genre in idmbMovie.genres">{{genre.name}}</span></p>
            <p><label>Nationalitées :</label> <span ng-repeat="country in idmbMovie.production_countries">{{country.name}}  </span></p>
            <p><label>Note :</label><span class="rate">{{movie.notes.moyenne | number:2}}</span></p>

        </section>
    </div>
    <div class="drop" ng-model="userDrop"  ng-drop="true" ng-drop-success="onDrop($data,$event)">
        <div ng-repeat="view in viewMovies">
            <view-movie user="userService.user" version-user="true" view="view" update-list="updateList()"></view-movie>
        </div>
    </div>
    <div class="drag-user panel panel-default row">
        <div class="col-md-2" ng-repeat="user in userNot">
            <div class="view draggable profil {{user.username}}"  ng-drag="true" ng-drag-data="{{user}}"  ng-model="user"></div>
        </div>
    </div>
    <div class="row thumbnail">
        {{idmbMovie.overview}}
    </div>
    <a href="" ng-click="goTo('prev')" class="ws prev hidden-sm hidden-xs"></a>
    <a href="" ng-click="goTo('next')" class="ws next hidden-sm hidden-xs" ></a>
</div>