<div class="page-header">
    <h1>Statistiques
    <small>Utilisateurs</small></h1>
</div>
<div class="row">
    <div class="stat-panel col-md-3">
        <table class="classement table table-hover  table">
            <caption><h2>Vues</h2></caption>
            <tbody>
                <tr  ng-repeat="user in users | orderBy: '-views.length'">
                    <td class="col-md-3 text-center">
                        <span class="rank-star"></span>
                        <h3 class="number">{{$index + 1 }}</h3>
                    </td>
                    <td class="col-xs-3 text-center">
                        <h3>{{user.views.length}}</h3>
                    </td>
                    <td class="col-xs-6 text-center">
                        <a title="{{user.username}}" href="#/user/{{user.id}}">
                        <div class="profil hover {{user.username}}"></div>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="stat-panel col-md-3">
        <table class="classement table table-hover col-md-3 table">
            <caption><h2>Note moyenne</h2></caption>
            <tbody>
                <tr  ng-repeat="user in users | orderBy: '-notes.moyenne'">
                    <td class="col-md-3 text-center">
                        <span class="rank-star"></span>
                        <h3 class="number">{{$index + 1 }}</h3>
                    </td>
                    <td class="col-xs-3 text-center">
                        <h3>{{user.notes.moyenne | number:1}}</h3>
                    </td>
                    <td class="col-xs-6 text-center">
                        <a title="{{user.username}}" href="#/user/{{user.id}}">
                        <div class="profil hover {{user.username}}"></div>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="stat-panel chart col-md-3">
        <highchart id="chart2" config="highchartsCritique"></highchart>
    </div>
    <div class="stat-panel chart col-md-5">
        <highchart id="chart1" config="highchartsNotes"></highchart>
    </div>

</div>