<div class="" ng-swipe-disable-mouse ng-swipe-left="goTo('next')" ng-swipe-right="goTo('prev')">
    <div class="row">
        <div class="pull-left">
            <img ng-cloak class="view profil" src="images/user/{{user.username}}.png" alt=""/>
        </div>
        <div class="col-md-6">
            <h1>{{user.username}}</h1>
        </div>
    </div>
    <br>
    <ul class="nav nav-pills">
        <li ng-class="{active : isActiveMenu('films')}"><a href="#/user/{{user.id}}/films">Films</a></li>
        <li ng-class="{active : isActiveMenu('historique')}" role="presentation"><a href="#/user/{{user.id}}/historique">Historique <i class="fa fa-clock-o"></i></a></li>
        <li ng-class="{active : isActiveMenu('logs')}" role="presentation"><a href="#/user/{{user.id}}/logs">Logs</a></li>
    </ul>
    <div class="slide-animate" ng-include="template.url"></div>
</div>
<a href="" ng-click="goTo('prev')" class="ws prev hidden-sm hidden-xs"></a>
<a href="" ng-click="goTo('next')" class="ws next hidden-sm hidden-xs" ></a>