<div class="page-header">
    <h1>Statistiques
    <small>Films</small></h1>
</div>
<div class="row">
    <div class="col-md-6">
        <table class="movie-classement table table-hover col-md-12 text-center">
            <caption><h2>Top</h2></caption>
            <thead >
                <th class="text-center">#</th>
                <th class="text-center">Film</th>
                <th class="text-center">Note</th>
                <th class="text-center">Nombre de votes</th>
            </thead>
            <tbody>
                <tr  ng-repeat="movie in movies | orderBy: '-moyenne'">
                    <td class="col-md-2 text-center">
                        {{$index + 1 }}
                    </td>
                    <td class="col-xs-4 text-center">
                        <a href="#/movie/{{movie.id}}">
                        {{movie.title}}
                        </a>
                    </td>
                    <td class="col-xs-2 text-center">
                        {{movie.moyenne | number:2}}
                    </td>
                    <td>
                        {{movie.totalVotes}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="movie-classement table table-hover col-md-12 text-center">
            <caption><h2>Bottom</h2></caption>
            <thead>
                <th class="text-center">#</th>
                <th class="text-center">Film</th>
                <th class="text-center">Note</th>
                <th class="text-center">Nombre de votes</th>
            </thead>
            <tbody>
                <tr  ng-repeat="movie in moviesworst | orderBy: 'moyenne'">
                    <td class="col-md-2 text-center">
                        {{$index + 1 }}
                    </td>
                    <td class="col-xs-4 text-center">
                        <a href="#/movie/{{movie.id}}">
                        {{movie.title}}
                        </a>
                    </td>
                    <td class="col-xs-2 text-center">
                        {{movie.moyenne | number:2}}
                    </td>
                    <td>
                       {{movie.totalVotes}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>